#form {
    min-height: 100vh;
    font-family: var(--font);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#send-text {
    color: var(--primary-color);
    margin-bottom: 20px;
}

input {
    font-family: var(--font);
    width: 20%;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 1.5em;
    border-radius: var(--border-radius);
    border: none;
}

textarea {
    padding: 5px 10px;
    height: 50%;
    width: 20%;
    font-family: var(--font);
    margin: 10px;
    font-size: 1.5em;
    border-radius: var(--border-radius);
    border: none;
}

#send-button {
    margin-top: 10px;
    font-family: var(--font);
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #241e19;
    font-size: 1.2em;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

#send-button:hover {
    background-color: #241e19;
    color: aliceblue;
}
