#gh-cv-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgb(202, 202, 202);
    padding: 30px 15px;
    left: 0;
    top: 35%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    justify-content: center;
    z-index: 1000; /* Ensure it stays on top */
}

#gh-logo {
    cursor: pointer;
}

#cv {
    font-family: var(--font);
    font-size: 3em;
    margin-top: 20px;
    cursor: pointer;
}
